services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: projects_db
      POSTGRES_USER: tu_usuario
      POSTGRES_PASSWORD: tu_password
    ports:
      - "5432:5432"
  backend:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/projects_db